/* global */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  background: #202124;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h6,
h6,
p {
  color: #e8eaed;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #303134;
  color: #e8eaed;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

form {
  margin: 20px 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  nav ul {
    text-align: left;
  }

  nav li {
    display: block;
    margin-bottom: 10px;
  }
}

/* content div */

.content {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 2rem 5%;
  border-radius: 8px;
  overflow: hidden;
}

.home-link {
  text-decoration: none;
}

.home-link h1:hover {
  color: #8e8f91;
}

/* home */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.home .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.home .links a {
  text-decoration: none;
}

.btn-with-icon {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn-icon {
  font-size: 5rem;
}

.btn-with-icon h2 {
  font-size: 2rem;
  width: 235px;
  height: 55px;
}

/* atendimento */
